body{
    margin: 0px;
    padding: 0px;
    background-color: black;
    margin-top:60px;
}
body .block{
    width: 390px;
    height: auto;
    background-color: black;
    display: block;
    position: relative;
    left: 380px;
}
input{
    font-weight: bold;
    font-size:17px;
    background-color: black;
    width: 320px;
    color: rgb(241, 228, 228);
    height: 29px;
    outline: none;
}
.answer{
    width: 400px;
    height: auto;
    background-color: black;
}
button{
    border-radius:16px;
    width: 60px;
    height: 36px;
    position: absolute;
    left: 329px;
    border:none;
    background-color: rgb(223, 178, 30);
}